* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    /* font-family: 'Syncopate', sans-serif; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex-direction: row;
    min-height: 2vh;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 50%;
}

li {
    padding-top: 10px;
}

.nav-bar a:hover {
    background-color: #f0e8d6;
}

.nav-bar a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 12px;
}

.page-title {
    font-size: 35px;
    background-color: #f0e8d6;
    height: 85px;
    text-transform: uppercase; 
    /* font-weight: 500; */
    letter-spacing: 10px;
    padding-top: 25px;
}

.row {
    --bs-gutter-x: 0rem;
}

#aboutme-img {
    margin-top: 60px;
    margin-top: 60px;
}

#aboutme-text h2 {
    margin-top: 300px;
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 15px;
    text-align: start;
}

#aboutme-text {
    font-size: 17px;
    line-height: 10px;
    text-align: start;
    padding-left: 20px;
}

#course-projects h3 {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 18px;
    background-color: #f0e8d6;
    padding: 10px 10px;
}

a {
    color: white;
}

.projectcard {
    padding: 10px;
}

.projectcard img {
    border: black solid 2px;
}

.projectheader {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

#contact-me h4 {
    margin-top: 30px;
    font-weight: bolder;
    font-size: 18px;
    background-color: #f0e8d6;
    padding: 10px 10px;
    text-align: center;
}

.contact ul {
    line-height: 10pt;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.contact a {
    color: black;
    /* padding-bottom: 30px; */
    font-size: 16px;
    text-decoration: none;
}

.contact a:hover {
    background-color: #f0e8d6;
}

footer h5 {
    color: white;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
}

.footer {
    margin-top: 25px;
    padding: 20px;
    background-color: black;
}

@media screen and (max-width: 992px) {
    li {
        padding-top: 10px;
        margin-right: 25px;
    }
    
    #aboutme-img {
        max-width: 100%;
        max-height: 100%;
    }

    #aboutme-text {
        font-size: 14px;
        line-height: normal;
        padding-left: 0px;
        text-align: center;
    }

    #aboutme-text h2 {
        margin-top: 30px;
        text-align: center;
    }
}

  @media screen and (max-width: 768px) {

    main img {
        max-width: 100%;
        max-height: 100%;
    }

    #aboutme-text {
        font-size: 14px;
        line-height: normal;
        line-height: normal;
        padding-left: 0px;
        text-align: center;
    }

    #aboutme-text h2 {
        margin-top: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {

    #aboutme-text {
        font-size: 14px;
        line-height: normal;
        text-align: center;
        padding-left: 0px;
    }

    #aboutme-text h2 {
        margin-top: 30px;
        text-align: center;
    }
}
